
target


.soroban
.stellar


node_modules
.pnpm-store


dist
build
.next
out


.env
.env.local
.env.*.local


.turbo


.DS_Store
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


coverage